* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.tasksEntries {
  display: flex;
}

#mover-cima {
  margin-left: 10px;
}

#mover-baixo {
  margin-left: 10px;
}

#criar-tarefa {
  margin-left: 10px;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

#remover-finalizados {
  margin-left: 10px;
}

#salvar-tarefas {
  margin-left: 10px;
}

#remover-selecionado {
  margin-left: 10px;
}

#clear-saved-list {
  margin-left: 10px;
}
