* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.tasksEntries {
  display: flex;
}

#criar-tarefa {
  margin-left: 10px;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}